# Copyright (C) 2024 Francesco Nano and AI
# 
# This file is part of the Open Live Mixing System (OLMS) project.
# Created by Francesco Nano with AI assistance at https://openlivemixingsystem.org/
#
# Connect, collaborate, and stay updated with announcements at:
# https://openlivemixingsystem.org/
#
# Licensed under the GNU General Public License v3.0 (GPL-3.0)
# See LICENSE file for full license terms and conditions.
#
# This software is provided 'as-is', without any express or implied warranty.
# In no event will the authors be held liable for any damages arising from
# the use of this software.

[Unit]
Description=OLMS Ardour Headless Service
After=olms-irq-pinning.service jack.service
Wants=olms-irq-pinning.service jack.service
Requires=jack.service

[Service]
Type=forking
ExecStart=/usr/bin/audio_engine.sh
Restart=on-failure
RestartSec=5
User=olms
Group=audio
WorkingDirectory=/var/olms

[Install]
WantedBy=multi-user.target
